* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

.hide-scroll {
  scrollbar-width: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #6689f3;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar:hover {
  background-color: #eee;
}
